<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title> web site   </title>
</head>
<body>
<h1>Mainatinance!!</h1>
<p>Web site is being updated</p>

<footer>
	<p>copyright law</p>
</footer>
</body>

</html>